This app does not use, collect, or store any user data, or Personal Identifying Information  (PII) or any data at all. 
This app is just adds a tool to your browser menu that gives you the option of openning the archived version of an URL.
